body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#game {
    margin-top: 50px;
}

button,
#clickPower {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

button:disabled,
#clickPower:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.MonnaieContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.MonnaiePlatinum,
.MonnaieGold,
.MonnaieSilver,
.MonnaieCopper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    font-size: 24px;
    font-weight: bold;
}

#platinumCoin,
#goldCoin,
#silverCoin,
#copperCoin {
    width: 20px;
    height: 20px;
    margin: 10px;
    border-radius: 50%;
}

#platinumCoin {
    background-color: #e5e4e2;
}

#goldCoin {
    background-color: #FFD700;
}

#silverCoin {
    background-color: #C0C0C0;
}

#copperCoin {
    background-color: #cd7f32;
}

#competance {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgb(174, 63, 63);
    color: white;
}

#competanceModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

#closeCompetanceModal {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 28px;
    font-weight: bold;
}

#competanceContent {
    position: relative;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s;
}

.hidden {
    display: none;
}

#force {
    background-color: rgb(145, 32, 32);
    color: white;
}

#endurance {
    background-color: rgb(40, 109, 40);
    color: white;
}

#bouclier {
    background-color: rgb(28, 67, 122);
    color: white;
}

.statsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.competanceItem{
    width: 20%;
    text-align: center;

}