body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#game {
    margin-top: 50px;
}

button,
#clickPower {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

button:disabled,
#clickPower:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.MonnaieContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.MonnaiePlatinum,
.MonnaieGold,
.MonnaieSilver,
.MonnaieCopper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    font-size: 24px;
    font-weight: bold;
}

#platinumCoin,
#goldCoin,
#silverCoin,
#copperCoin {
    width: 20px;
    height: 20px;
    margin: 10px;
    border-radius: 50%;
}

#platinumCoin {
    background-color: #e5e4e2;
}

#goldCoin {
    background-color: #FFD700;
}

#silverCoin {
    background-color: #C0C0C0;
}

#copperCoin {
    background-color: #cd7f32;
}

#competance {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgb(174, 63, 63);
    color: white;
}

#competanceModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

#closeCompetanceModal {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 28px;
    font-weight: bold;
}

#competanceContent {
    position: relative;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s;
}

.hidden {
    display: none;
}

#force {
    background-color: rgb(145, 32, 32);
    color: white;
}

#endurance {
    background-color: rgb(40, 109, 40);
    color: white;
}

#bouclier {
    background-color: rgb(28, 67, 122);
    color: white;
}

.statsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.competanceItem{
    width: 20%;
    text-align: center;
}

#clicker{
    height: 600px;
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
}

.enemy-image{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.health-bar-container {
    width: 100%;
    height: 20px;
    background-color: #ccc;
    border: 1px solid #000;
    margin-top: 5px;
    position: relative;
}

.health-bar {
    height: 100%;
    background-color: red;
    width: 100%; /* La largeur initiale est de 100% */
    transition: width 0.2s ease-in-out; /* Animation pour un effet fluide */
}

#enduranceBarContainer{
    height: 40px;
    background-color: #ddd;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

.enduranceContainer{
    width: 30%;
    position: absolute;
    bottom: 20px;
    left: 100px;
}

#resetButton{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}


.inventaireModal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

#inventaireButton{
    position: absolute;
    top: 70px;
    left: 10px;
    background-color: rgb(174, 63, 63);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#inventaireContent {
    position: relative;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s;
}

/* Conteneur des items */
.inventaireItemContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

/* Style des placeholders */
.placeholder {
    width: 70px;
    height: 70px;
    background-color: lightgray;
    border: 2px dashed gray;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    color: gray;
}

/* Style des items */
.inventaireItem {
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    color: black;
}

/* Rareté commune */
.rarete-commune {
    background-color: lightgray;
    border: 2px solid gray;
}

/* Rareté rare */
.rarete-rare {
    background-color: lightblue;
    border: 2px solid blue;
}

/* Rareté épique */
.rarete-epique {
    background-color:  rgb(175, 101, 206);
    border: 2px solid purple;
}

/* Rareté légendaire */
.rarete-legendaire {
    background-color: rgb(243, 214, 55);
    border: 2px solid orange;
    color: black;
}

.contextMenu {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contextMenu button {
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    text-align: left;
}

.contextMenu button:hover {
    background-color: #ddd;
}